.accordion {
  .accordion-item {
    margin: 0 0 30px 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-of-type,
    &:last-of-type {
      .accordion-button {
        border-radius: 0;
      }
    }
  }

  .accordion-header {
    margin: 0;
  }

  .accordion-button {
    background-color: var(--white-color);
    border: none;
    padding: 13px 22px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--title-font);
    color: var(--title-color);
    text-align: left;
    border-radius: 0;

    &:after {
      content: '\f055';
      font-family: $icon-font;
      font-weight: 600;
      color: $title-color;
      border: none;
      width: auto;
      height: auto;
      background-image: none;
      @include smooth-transition;
    }

    &:hover {
      color: $theme-color;

      &::after {
        color: $theme-color;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: $theme-color;

      &:after {
        color: $theme-color;
        content: '\f056';
        font-weight: 600;
      }
    }
  }

  .accordion-body {
    border-top: 1px solid #ebebeb;
    padding: 20px 40px 25px 25px;
    background-color: var(--white-color);
    color: var(--body-color);
    letter-spacing: 0.32px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .accordion-collapse {
    border: none;
  }
}

.faq-img-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  object-fit: cover;

  @include lg {
    display: none;
  }
}